@font-face {
  font-family: Metrickal;
  src: url(./Metrickal-Regular.otf);
}
* {
  box-sizing: border-box;
}
body {
  line-height: 1.2;
  margin: 0;
  font-family: Metrickal, monospace;
}
.layout {
  display: flex;
  flex-direction: column;
  width: 800px;
  background: #000;
}